*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100vh auto auto;
    grid-template-areas: 
    "sideNav header header"
    "sideNav main   main"
    "sideNav main   main"
    "sideNav footer footer";
    font: 1em/1.3 Arial, Helvetica, sans-serif;
}

header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("../Images/cover.png");
    background-position: center;
}

header h1{
    color: white;
}

nav{
    grid-area: nav;
    background-color: lightgreen;
    display: none;
}

.sideNav{
    grid-area: sideNav;
    background-color: #2376ae;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    transition: 0.5s;
}

.nav-link{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    transition: 0.5s;

}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 1em;

}

.nav-link:hover{
    background-color: #839b97;
    border-radius: 10px;
}

.logo{
    color: white;
    letter-spacing: 5px;
    font-size: 20px;
}

main{
    grid-area: main;
    background-color: lightyellow;
}

/*Main content*/
section h2{
    padding: 1em;
    font-weight: 100;
    color: white;
    background-color: #839b97;
}

article{
   padding: 1em;
}

/*Footer*/
footer{
    border: 2px solid black;
}

/*Cards*/
.card{
    width: 85%;
    margin: 50px auto 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    background-color: white;
    display: grid;
}

.card-row{
    padding: 1em;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.card-content{
    padding: 2em;
}

.card-bottom{
    background-color: #eeeeee;
    padding: 1em;
}

footer{
    grid-area: footer;
    background-color: lightgray;
}

@media screen and (max-width: 550px){
    *{
        scroll-margin-top: 9.5vh;
    }
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 10vh 90vh auto auto;
        grid-template-areas: 
        "nav nav"
        "sideNav header"
        "sideNav main"
        "sideNav footer";

    }

    nav{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 10vh;
        padding: 2em;
    }

    .navToggle{
        background: transparent;
        border: none;
        font-size: 25px;
    }

    .sideNav{
        top: 10vh;
    }

    .inactive{
        width: 0px;
        display: none;
    }

    .active{
        left: 0;
        height: 100%;
        width: 200px;
    }
}