body{
   background-color: #24282E;
}

.title .container{
   color: white;
}

.jumbotron{
   color: white;
   text-align: center;
   padding-top: 325px;
   height: 750px;

   background-image: url("../Images/cover.png");
   background-size: cover;
}

.container .aboutMe{
border: white;
color: white;
font-size: 18px;
}

.aboutMe h2{
   text-align: right;
}

.aboutMe p{
   text-align: left;
}

.projects h1{
  color: white;
}

hr{
   border-top: 1px solid white;
   margin: 5rem 0;
   width: 75%;
   margin-left: 12%;
}

.projects .col-lg-3{
   color: white;
}

.carousel-bd-img{
   width: 100%;
   height: 400px;
}

image{
   height: 100%;
   width: 100%;
}

#sticky-footer{
   color: white;
}

#sticky-footer .right{
   float: right;
}

.typewriter-text {
   display: inline-block;
   overflow: hidden;
   letter-spacing: 2px;
   animation: typing 1.5s steps(20, end), blink .60s step-end infinite;
   white-space: nowrap;
   border-right: 3px solid white;
   box-sizing: border-box;
}

a {
   color: white;
}

.navbar-nav > li{
   padding-left:15px;
   padding-right:15px;
 }

@keyframes typing {
   from { 
       width: 0% 
   }
   to { 
       width: 50% 
   }
}

@keyframes blink {
   from, to { 
       border-color: transparent 
   }
   50% { 
       border-color: white; 
   }
}


.bd-example{
   color: white;
}

 .experience .list-group-item{
   background-color: #24272E;
}

.table{
   color: white;
}